<!DOCTYPE HTML>
<html lang="pt-br" xlmns:th:="http://www.thymeleaf.org">

<head th:fragment="head">
<meta charset="utf-8">
<title>BuiaTchaKa Games</title>
<link rel="stylesheet" th:href="@{../css/reset.css}">
<link rel="stylesheet" th:href="@{../css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{../css/font-awesome.min.css}">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
	integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
	crossorigin="anonymous">
</head>

<body>
	<div class="container-fluid p-0">
		<header th:fragment="header">
			<div class="container-fluid p-1 border border-dark">
				<a href="/">BuiaTchaKa Games</a> <br>
			</div>
			<div class="col text-right text-dark">
				<span th:text="'Olá ' + ${session?.cliente?.nome} ?: 'visitante'"></span>
				<a class="text-dark" href="#"
					th:text="${session?.cliente?.nome} ? 'Perfil' : 'Login | Cadastre-se'"></a>
				Carrinho (vazio) </a>
			</div>
			<div class="container-fluid bg-light" th:fragment="menu">
				<nav>
					<ul class="nav justify-content-center">
						<li class="nav-item"><a class="nav-link" href="#">Item 1</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="#">Item 2</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="#">Item 3</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="#">Item 4</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="#">Item 5</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>
	</div>
	<div th:fragment="scripts">
		<script th:src="@{../js/jquery.min.js}"></script>
		<script th:src="@{../js/popper.min.js}"></script>
		<script th:src="@{../js/bootstrap.min.js}"></script>
	</div>
</html>