<!DOCTYPE HTML>
<html lang="pt-br" xlmns:th:="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<title>BuiaTchaKa Games</title>
<link rel="stylesheet" th:href="@{../../css/reset.css}">
<link rel="stylesheet" th:href="@{../../css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{../../css/font-awesome.min.css}">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
	integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
	crossorigin="anonymous">
</head>

<body>
	<div class="container-fluid p-0">
		<header>
			<div class="container-fluid p-1 border border-dark">
				BuiaTchaKa Games | Dashboard <br>
			</div>
			<div class="container-fluid bg-light"></div>
		</header>
		<div class="container-fluid pl-0">
			<div class="row mt-4">
				<div class="col-md-2">
					<div class="p-0 bg-light">
						<h6 th:text="${session.admin?.nome}"></h6>
						<h6 th:text="${session.admin?.email}"></h6>
						<nav class="navbar bg-light">
							<ul class="navbar-nav">
								<li class="nav-item"><a class="nav-link" href="#">Início</a>
								</li>
								<li class="nav-item"><a class="nav-link"
									href="admin/perfil">Perfil</a></li>
								<li class="nav-item"><a class="nav-link font-weight-bold"
									href="admin/produtos">Produtos</a></li>
								<li class="nav-item"><a class="nav-link"
									href="admin/estoque">Estoque</a></li>
								<li class="nav-item"><a class="nav-link"
									href="admin/clientes">Clientes</a></li>
								<li class="nav-item"><a class="nav-link"
									href="#">Pedidos</a></li>
								<li class="nav-item"><a class="nav-link"
									href="admin/trocas">Trocas</a></li>
								<li class="nav-item"><a class="nav-link"
									href="admin/cupons">Cupons</a></li>
								<li class="nav-item"><a class="nav-link"
									href="admin/usuarios">Usuários</a></li>
								<li class="nav-item"><a class="nav-link" href="admin/logs">Logs</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="col-md-8">
					<hr> 
					<h3>Produto: </h3>
					<form class="row p-0" action="/admin/produtos/novo" method="POST" modelAttribute="produto">
					<div class="col-md-6">
						<label for="codigoDeBarras">Código de barras: </label>
						<input type="text" class="form-control" id="codigoDeBarras" name="codigoDeBarras" path="codigoDeBarras" required>
						<label for="nome">Nome: </label>
						<input type="text" class="form-control" id="nome" name="nome" path="nome" required>
						<label for="descricao">Descrição: </label>
						<textarea class="form-control" id="descricao" name="descricao" path="descricao" required></textarea>
						<label for="plataforma">Plataforma: </label>
						<select class="form-control" name="plataforma" id="plataforma" path="plataforma" required>
							<option value="">Selecione</option>
							<option value="PS4">PS4</option>
							<option value="XBOX One">XBOX One</option>
							<option value="PC">PC</option>
						</select>
						<label for="genero">Gênero: </label>
						<select class="form-control" name="genero" id="genero" path="genero" required>
							<option value="">Selecione</option>
							<option value="ACAO">Ação</option>
							<option value="AVENTURA">Aventura</option>
							<option value="SIMULADOR">Simulador</option>
							<option value="CORRIDA">Corrida</option>
							<option value="FPS">FPS</option>
						</select>
						<label for="faixaEtaria">Faixa etária: </label>
						<select class="form-control" name="faixaEtaria" id="faixaEtaria" path="faixaEtaria" required>
							<option value="">Selecione</option>
							<option value="0">Livre</option>
							<option value="10">10 anos</option>
							<option value="14">14 anos</option>
							<option value="18">18 anos</option>
						</select>
						<label for="jogadoresOffline">Nº jogadores offline: </label>
						<input type="number" class="form-control" name="jogadoresOffline" id="jogadoresOffline" path="jogadoresOffline" min="1" max="300" required>
						<label for="jogadoresOnline">Nº jogadores online: </label>
						<input type="number" class="form-control" name="jogadoresOnline" id="jogadoresOnline" path="jogadoresOnline" min="0" max="300" required>
					</div>
					<div class="col-md-6">
						<label for="marca">Marca/estúdio: </label>
						<select class="form-control" name="marca" id="marca" path="marca" required>
							<option value="">Selecione</option>
							<option value="ROCKSTAR">Rockstar</option>
							<option value="CODEMASTERS">Codemasters</option>
							<option value="ELETRONIC ARTS">Eletronic Arts</option>
							<option value="SONY">Sony</option>
							<option value="VALVE">Valve</option>
							<option value="SCS SOFTWARE">SCS Software</option>
							<option value="SQUARE ENIX">Square Enix</option>
						</select>
						<label for="categoria">Categoria: </label>
						<select class="form-control" name="categoria" id="categoria" path="categoria" required>
							<option value="">Selecione</option>
							<option th:each="categoria : ${categorias}" th:value="${categoria.id}" th:text="${categoria}"></option>
						</select>
						<label for="tipoDeMidia">Tipo de mídia: </label>
						<select class="form-control" name="tipoDeMidia" id="tipoDeMidia" path="tipoDeMidia" required>
							<option value="">Selecione</option>
							<option value="CD">CD</option>
							<option value="DVD">DVD</option>
							<option value="BLURAY">DVD-BLURAY</option>
						</select>
						<label for="precoCompra">Preço de compra: </label>
						<input type="number" class="form-control" id="precoCompra" name="precoCompra" path="precoCompra" required>
						<label for="grupoPrecificacao">Precificação: </label>
						<input type="number" class="form-control" name="grupoPrecificacao" id="grupoPrecificacao" path="grupoPrecificacao" max="300" min="1" step="0.01" required>
						<label for="ativo">Ativo: </label>
						<select class="form-control" id="ativo" name="ativo" path="ativo" required>
							<option value="">Selecione</option>
							<option value="true">Sim</option>
							<option value="false">Não</option>
						</select>
						<br>
						<input type="submit" class="btn btn-success font-weight-bold pull-right" value="Cadastrar">
					</div>
					</form>
				</div>
				<div class="col">
					Ações recentes
				</div>
			</div>
			<footer> Footer </footer>
		</div>
</body>
<script>
	$(document).ready(
			function() {
				$("#search").on(
						"keyup",
						function() {
							var value = $(this).val().toLowerCase();
							$("#produtos tr").filter(
									function() {
										$(this).toggle(
												$(this).text().toLowerCase()
														.indexOf(value) > -1)
									});
						});
			});
</script>
<script th:src="@{../js/jquery.min.js}"></script>
<script th:src="@{../js/popper.min.js}"></script>
<script th:src="@{../js/bootstrap.min.js}"></script>
</html>