<!DOCTYPE HTML>
<html lang="pt-br" xlmns:th:="http://www.thymeleaf.org">

<head th:replace="fragments/header :: head">
<meta charset="utf-8">
</head>

<body>
    <div class="container-fluid p-0">
       	<div th:replace="fragments/header :: header">
       		<div th:replace="fragments/header :: menu">
       		</div>
       	</div>
        <div class="container">
            <div class="row mt-2">
                <div class="col-md-2 p-0 bg-light">
                    <h6 th:text="${session?.cliente?.nome}"></h6>
                    <h6 th:text="${session?.cliente?.email}"></h6>
                    <nav class="navbar bg-light">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="perfil-dados.html">Perfil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Pedidos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="cupons.html">Cupons</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-10">
                    <table class="table table-bordered">
                        <thead class="font-weight-bold bg-light">
                            <tr>
                                <th>Número</th>
                                <th>Data</th>
                                <th>Pagamento</th>
                                <th>Status</th>
                                <th>Valor</th>
                                <th>Detalhes</th>
                                <th>Troca/Devolução</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="pedido: ${pedidos}">
                                <td th:text="${pedido.id}"></td>
                                <td th:text="${pedido.dataCadastro}"></td>
                                <td>Cartão de crédito</td>
                                <td th:text="${pedido.status}">Aprovado</td>
                                <td th:text="${'R$ ' + pedido.valorTotal}"></td>
                                <td><a class="font-weight-bold" href="order.html">Detalhes</a></td>
                                <td><a class="font-weight-bold" href="request-change.html">Troca/devolução</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <footer th:fragment="fragments/footer :: footer">
        </footer>
    </div>
    <div th:replace="fragments/header :: scripts"></div>
</body>
</html>