<!DOCTYPE HTML>
<html lang="pt-br" xmlns:th:="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>BuiaTchaKa Games</title>
<link rel="stylesheet" th:href="@{../../css/reset.css}">
<link rel="stylesheet" th:href="@{../../css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{../../css/font-awesome.min.css}">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
	integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
	crossorigin="anonymous">
</head>

<body>
	<div class="container-fluid p-0">
		<header>
			<div class="container-fluid p-1 border border-dark">
				<a href="index.html">BuiaTchaKa Games</a> <br>
			</div>
			<div class="col text-right text-dark">
				<span th:text="'Olá ' + ${session?.cliente?.nome} ?: 'visitante'"></span>
				<a class="text-dark" href="#"
					th:text="${session?.cliente?.nome} ? 'Perfil' : 'Login | Cadastre-se'"></a>
				<br> <a class="text-dark" href="cart.html">Carrinho (vazio)
				</a>
			</div>
			<div class="container-fluid bg-light">
				<nav>
					<ul class="nav justify-content-center">
						<li class="nav-item"><a class="nav-link" href="#">Item 1</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="#">Item 2</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="#">Item 3</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="#">Item 4</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="#">Item 5</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>
		<div class="container">
			<div class="row mt-2">
				<div class="col-md-2 p-0 bg-light">
					<h6 th:text="${session.cliente?.nome}"></h6>
					<h6 th:text="${session.cliente?.email}"></h6>
					<nav class="navbar bg-light">
						<ul class="navbar-nav">
							<li class="nav-item"><a class="nav-link" href="#">Perfil</a>
							</li>
							<li class="nav-item"><a class="nav-link" href="perfil.html">Pedidos</a>
							</li>
							<li class="nav-item"><a class="nav-link" href="cupons.html">Cupons</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="col-md-10">
					<h4>Você tem XX pontos. Seu nível é: XX.</h4>
					<!-- Nav pills -->
					<ul class="nav nav-pills">
						<li class="nav-item"><a class="nav-link active"
							data-toggle="pill" href="#menu2">Alterar endereço</a></li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div class="row">
							<div class="col">
								<div th:if="${resultado?.msg ne ''}" class="alert alert-danger">
									<span
										th:utext="${#strings.unescapeJava(#strings.replace(#strings.escapeJava(resultado?.msg),'\n','&lt;br /&gt;'))}"></span>
								</div>
							</div>
						</div>
						<form class="row" method="POST" action="ControleCartao" modelAttribute="cartao">
							<div class="col-md-6">
								<label for="numeroCartao">Número do cartão: </label> <input
									type="text" name="numeroCartao" class="form-control"
									th:value="${cartao?.numero}"> <br> <label
									for="bandeira">Bandeira: </label> <select class="form-control"
									id="bandeira" name="bandeira" required>
									<option value="">Selecione</option>
									<option value="MASTERCARD">MasterCard</option>
									<option value="VISA">VISA</option>
									<option value="AMERICANEXPRESS">American Express</option>
								</select> <label for="nomeTitular">Nome do titular (como escrito
									no cartão):</label> <input type="text" name="nomeTitular"
									class="form-control" th:value="${cartao?.nomeTitular}" required>
								<br> <label for="dataVencimento">Data de vencimento
									(Mês/Ano):</label> <br> <select class="col-md-2" id="mes"
									name="mes" required>
									<option value="01">01</option>
									<option value="02">02</option>
									<option value="03">03</option>
									<option value="04">04</option>
									<option value="05">05</option>
									<option value="06">06</option>
									<option value="07">07</option>
									<option value="08">08</option>
									<option value="09">09</option>
									<option value="10">10</option>
									<option value="11">11</option>
									<option value="12">12</option>
								</select> / <select class="col-md-2" id="ano" name="ano" required>
									<option value="2020">20</option>
									<option value="2021">21</option>
									<option value="2022">22</option>
									<option value="2023">23</option>
									<option value="2024">24</option>
									<option value="2025">25</option>
									<option value="2026">26</option>
									<option value="2027">27</option>
									<option value="2028">28</option>
									<option value="2029">29</option>
									<option value="2030">30</option>
								</select> <br> <br> <label for="cvv">Código de
									segurança: </label> <input type="text" name="codigo" id="codigo"
									class="form-control col-md-4" th:value="${cartao?.codigo}"
									required> <br> <label for="cpfTitular">CPF
									do titular: </label> <input type="text" name="cpfTitular"
									id="cpfTitular" class="form-control" th:value="${cartao?.cpf}"
									required> <br> <input type="submit" id="operacao"
									name="operacao"
									class="btn btn-success font-weight-bold pull-left"
									value="SALVAR" />
							</div>
						</form>
					</div>
				</div>
				<br>
			</div>
		</div>
		<footer> Footer </footer>
</body>
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</html>